<h1>DataAcquisition#index</h1>
<p>Find me in app/views/data_acquisition/index.html.erb</p>
<ul>
  <li><%= link_to 'プロフィール取得・更新', data_acquisition_create_or_update_my_profile_path %></li>
  <li><%= link_to 'プロフィール削除', data_acquisition_delete_my_profile_path %></li>
  <li><%= link_to 'フォロワー取得・更新', data_acquisition_create_or_update_my_followers_path %></li>
  <li><%= link_to 'ツィート取得', data_acquisition_create_my_tweet_path %></li>
  <li><%= link_to '最新ツィート取得', data_acquisition_create_my_recently_tweet_path %></li>
  <li><%= link_to 'Mentioned取得', data_acquisition_create_my_mention_path %></li>
  <li><%= link_to '最新Mentioned取得', data_acquisition_create_my_recently_mention_path %></li>
</ul>
