<tr>
  <td><%= my_followers.screen_name %></td>
  <td><%= my_followers.name %></td>
  <td><%= my_followers.location %></td>
  <td><%= image_tag my_followers.profile_image_url %></td>
  <td><%= my_followers.follow_status %></td>
</tr>
