<tr>
  <td><%= friend_of_acquire_user.friend_uid %></td>
  <td><%= friend_of_acquire_user.screen_name %></td>
  <td><%= friend_of_acquire_user.name %></td>
  <td><%= friend_of_acquire_user.is_friend %></td>
  <td><%= friend_of_acquire_user.is_follower %></td>
  <td><%= friend_of_acquire_user.followers_count %></td>
  <td><%= friend_of_acquire_user.tweet_count %></td>
</tr>